@import "colors-waybar.css";

* {
    font-family: JetBrainsMono;
    font-size: 17px;
    min-height: 0;
    color: @color5;
}

window#waybar {
    border-radius: 4px;
    background-color: rgba(22, 25, 35, 1);
    border: 2px solid @color6;
}

#workspaces {
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button {
    border-radius: 10px;
    margin-right: 10px;
    padding: 1px 10px;
    font-weight: bolder;
}

#workspaces button.active,
#workspaces button.focused {
    padding: 0 22px;
    box-shadow:
        rgba(3, 24, 44, 0) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0) 0px 1px 0px inset;
}

#workspaces button:hover {
    background: @color1;
}

#tray,
#mpd,
#custom-weather,
#cpu,
#temperature,
#memory,
#sway-mode,
#backlight,
#pulseaudio,
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery,
#clock {
    padding: 0 10px;
}
#network {
    padding: 0 10px;
}

#window {
    margin-top: 3px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    font-size: 17px;
    font-weight: bolder;
}

#hardware {
    margin-top: 3px;
    border-radius: 10px;
    margin-left: 20px;
    font-weight: bolder;
}

#right {
    margin-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    border-radius: 10px;
    font-weight: bolder;
}
